* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	min-height: 100%;
}

.fullheight {
	float: left;
	height: 100%;
	min-height: 100%;
}

#aframe {
	width: 60%;
}

#map {
	width: 40%;
}

#mapobject {
	width: 100%;
}
