* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	min-height: 100%;
}

.fullheight {
	float: left;
	height: 100%;
	min-height: 100%;
}

#aframe {
	width: 60%;
	background-color: black;
}

#map {
	width: 40%;
	background-color: black;
}

#mapobject {
	width: 100%;
}

#player {
	width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
